{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/admin.twig' %}

{% block title %}
  EDIT genre
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs justify-content-end sizeTab">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{{ url }}genre/index">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url }}genre/create">Agregar genre</a>
    </li>
  </ul>

  <form action="{{ url }}genre/update" method="POST">
    <div class="row m-0 p-0 justify-content-center mb-3">
      <!-- Coloca el botón en el centro -->
      <div class="col-12 col-lg-4 col-md-5 col-sm-6 justify-content-center row">
        <div class="mb-3">
          <input type="hidden" class="form-control" id="id" name="id" value="{{ genre.id_genre }}" aria-describedby="id" />
        </div>
        <div class="mb-3">
          <label for="tipo" class="form-label">Tipo</label>
          <input type="text" class="form-control" id="tipo" name="tipo" value="{{ genre.tipo }}" aria-describedby="tipo" />
          <div id="tipoLab" class="form-text">Escribe tipo.</div>
        </div>
        <button type="submit" class="btn btn-primary col-4 col-sm-4 col-md-4 col-lg-3">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
