{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/admin.twig' %}

{% block title %}
  Index genre
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs justify-content-end sizeTab">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url }}genre/create">Agregar genero</a>
    </li>
  </ul>

  <!--    Tabla responsive. Hace que puedas hacer scroll horizontal (dependiendo del table-responsive 
  introducido, te permitirá hacer scroll dependiendo del tamaño y cuando se pueda, es decir, cuando empieza
  a comerse contenido a partir de cierto tamaño)    -->
  <div class="table-responsive">
    <table class="table table-striped table-responsive-md table-responsive-sm text-center mt-4 contenedorCentro">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {# Bucle en Twig #}
        {% for g in genre %}
          <tr>
            <td>{{ g.id_genre }}</td>
            <td>{{ g.nombre }}</td>
            <td>
              <a class="btn btn-success" href="{{ url }}genre/show&id={{ g.id_genre }}">Ver</a>
              <a class="btn btn-secondary" href="{{ url }}genre/edit&id={{ g.id_genre }}">Editar</a>
              <a class="btn btn-danger" href="{{ url }}genre/delete&id={{ g.id_genre }}">Eliminar</a>
            </td>
          </tr>
        {% else %}
          <li>
            <em>No se encuentran tipo de producto</em>
          </li>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
