{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'plantilla.twig' %}

{% block title %}
  Index
{% endblock %}

{% block content %}
  {{ parent() }}
  <a class="btn btn-primary" href="http://localhost/2daw-clase/?controller=users&action=create">Agregar usuario</a>
  {# Condicionales #}
  {#
  {% if mensaje %}
    <p>{{ mensaje }}</p>
  {% else %}
    <p>No existe mensaje</p>
  {% endif %}

  <p>{{ alumno }}</p>
  <p>{{ numero }}</p>
#}

  <table class="table table-striped text-center w-75 mt-4 mb-4 contenedorCentro">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Id_rol</th>
        <th scope="col">Password</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {# Bucle en Twig #}
      {% for u in users %}
        <tr>
          <td>{{ u.id_usuario }}</td>
          <td>{{ u.nombre }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.id_rol }}</td>
          <td>{{ u.password }}</td>
          <td>
            <a class="btn btn-success" href="http://localhost/2daw-clase/?controller=users&action=show&id={{ u.id_usuario }}">Ver</a>
            <a class="btn btn-secondary" href="http://localhost/2daw-clase/?controller=users&action=edit&id={{ u.id_usuario }}">Editar</a>
            <a class="btn btn-danger" href="http://localhost/2daw-clase/?controller=users&action=delete&id={{ u.id_usuario }}">Eliminar</a>
          </td>
        </tr>
      {% else %}
        <li>
          <em>No se encuentran usuarios</em>
        </li>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
