{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/admin.twig' %}

{% block title %}
  SHOW producto
{% endblock %}

{% block header %}
  <h1>SHOW</h1>
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs justify-content-end sizeTab">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{{ url }}producto/index">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url }}producto/create">Agregar producto</a>
    </li>
  </ul>

  <div class="row row-cols-1 justify-content-center mt-3 mb-3">
    <div class="card mt-5 ms-5 text-center cardSize">
      <img src="/2daw-clase/assets/img/game.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Id_producto: {{ producto.id_producto }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Id_genre: {{ producto.id_genre }}</h6>
      </div>
      <!-- Agrupa en una lista la cantidad y el precio -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cantidad: {{ producto.cantidad }}</li>
        <li class="list-group-item">Precio: {{ producto.precio }}€</li>
      </ul>
    </div>
  </div>
{% endblock %}
