<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="/2daw-clase/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/2daw-clase/assets/css/estilo.css" />
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Navbar content -->
      <div class="container-fluid">
        <!-- Botón para expandir, ocultar barra del menú -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url }}auth/home">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url }}users/index">Usuarios</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url}}genre/index">Genre</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url}}producto/index">Productos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex usuarioAbsolute">
        <ul class="mb-2 mb-lg-0 userEmail">
          <li class="dropdown nav-item">
            <span class="dropdown-toggle text-white" href="#" role="button" data-bs-target="#user" data-bs-toggle="dropdown" aria-expanded="false">{{ identity.email }}</span>
            <ul class="dropdown-menu" id="user">
              <li>
                <a class="dropdown-item" href="{{ url }}auth/logout">Cerrar sesión</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <body class="bodyColumn">
    <!-- Para meter siempre los contenidos juntos en vez de en columnas -->
    <div class="contentColumn">
      <!-- Si hay un error en el PHP, entonces todo saldrá en el body -->
      {% block content %}

      {% endblock %}
    </div>
  </body>

  <footer class="bg-secondary w-100 mt-5 footerAbsolute">
    <div class="container">
      <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3">
        <div>
          <h3 class="text-center noMargin txtIzq"><a class="aNoDec" href="#">Información</a></h3>
          <p class="text-center noMargin txtIzq">Somos una empresa que aloja los productos de nuestros proveedores y le ofrecemos, a cambio, exposición a una gran variedad de clientes</p>
        </div>

        <div>
          <h3 class="text-center txtIzq"><a class="aNoDec" href="#">Condiciones de uso</a></h3>
          <p class="text-center noMargin txtIzq">La navegación por este sitio web atribuye la condición de usuario a toda persona física interesada en los productos y servicios de esta página e implica la aceptación plena y sin reservas del presente aviso legal.</p>
        </div>

        <div>
          <h3 class="text-center txtIzq"><a class="aNoDec" href="#">Síguenos</a></h3>
          <p class="text-center noMargin txtIzq">
            <a href="#" class="aNoDecFollow">Facebook</a>
          </p>
          <p class="text-center noMargin txtIzq">
            <a href="#" class="aNoDecFollow">Twitter</a>
          </p>
          <p class="text-center noMargin txtIzq">
            <a href="#" class="aNoDecFollow">Youtube</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/2daw-clase/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  {% block script %}

  {% endblock %}
</html>
