{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/admin.twig' %}

{% block title %}
  Index Usuario
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs justify-content-end sizeTab">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url }}users/create">Agregar usuario</a>
    </li>
  </ul>

  <!--   Tabla responsive. Hace que puedas hacer scroll horizontal (dependiendo del table-responsive 
  introducido, te permitirá hacer scroll dependiendo del tamaño y cuando se pueda, es decir, cuando empieza
  a comerse contenido a partir de cierto tamaño)   -->
  <div class="table-responsive">
    <table class="table table-striped table-responsive-md table-responsive-sm text-center mt-4 contenedorCentro">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Id_rol</th>
          <th scope="col">Password</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>

      <tbody>
        {# Bucle en Twig #}
        {% for u in users %}
          <tr>
            <td>{{ u.id_usuario }}</td>
            <td>{{ u.nombre }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.id_rol }}</td>
            <td>{{ u.password }}</td>
            <td>
              <a class="btn btn-success" href="http://localhost/2daw-clase/?controller=users&action=show&id={{ u.id_usuario }}">Ver</a>
              <a class="btn btn-secondary" href="http://localhost/2daw-clase/?controller=users&action=edit&id={{ u.id_usuario }}">Editar</a>
              <a class="btn btn-danger" href="http://localhost/2daw-clase/?controller=users&action=delete&id={{ u.id_usuario }}">Eliminar</a>
            </td>
          </tr>
        {% else %}
          <li>
            <em>No se encuentran usuarios</em>
          </li>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
