{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/admin.twig' %}

{% block title %}
  SHOW Usuario
{% endblock %}

{% block header %}
  <h1>SHOW</h1>
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs justify-content-end sizeTab">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{{ url }}users/index">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url }}users/create">Agregar usuario</a>
    </li>
  </ul>

  <div class="row m-0 p-0 justify-content-center mb-3">
    <div class="col-6 row">
      <div class="mb-3">
        <input type="hidden" class="form-control" id="id_usuario" name="id_usuario" value="{{ user.id_usuario }}" aria-describedby="id_usuario" />
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ user.nombre }}" aria-describedby="nombre" readonly />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" aria-describedby="email" readonly />
      </div>
      <div class="mb-3">
        <label for="id_rol" class="form-label">Id_rol</label>
        <input type="text" class="form-control" id="id_rol" value="{{ user.id_rol }}" name="id_rol" aria-describedby="id_rol" readonly />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="{{ user.password }}" aria-describedby="password" readonly />
      </div>
    </div>
  </div>
{% endblock %}
